.cell {
	/*border: 1px solid #80808030;*/
	width: 60px;
	height: 60px;
	display: inline-block;

	image-rendering: pixelated;
	background-size: contain;
	background-repeat: no-repeat;
}


#container {
	margin:auto;
  display: flex;
  flex-flow: row wrap;
  width:600px;
}





/* Skins */ 

.empty{
	background-image: url("img/ground.png");
}

.player{
	background-image: url("img/player.png");
}


.movement{
	-webkit-box-shadow: inset 0px 0px 50px 15px rgba(41,164,255,0.6);
	-moz-box-shadow: inset 0px 0px 50px 15px rgba(41,164,255,0.6);
	box-shadow: inset 0px 0px 50px 15px rgba(41,164,255,0.6);
	background-image: url("img/ground.png");
}


/*
.weapon{
	background-image: url("img/weapon.png");
}
*/

.weapon-sword{
	background-image: url("img/weapon-sword.png");
}

.weapon-axe{
	background-image: url("img/weapon-axe.png");
}

.weapon-spear{
	background-image: url("img/weapon-spear.png");
}


/*
.rock{
	background-image: url("img/rock.png");
}*/

.rock0{
	background-image: url("img/rock0.png");
}

.rock1{
	background-image: url("img/rock1.png");
}

.rock2{
	background-image: url("img/rock2.png");
}