body{
	background-color: #333;
    color: #fff;
}

.modal{
	color:#333;
}

.cell {
	max-width: 60px;
	max-height: 60px;
	display: inline-block;
	image-rendering: pixelated;
	background-size: contain;
}


#container {
  background-color: #fff;
  margin:auto;
  display: flex;
  flex-flow: row wrap;
  width:50vw;
  max-width: 600px;
}


.currentPlayerCard{
	background-color: #f9d883;
}

.card{
	color:#333;
}

#actions{
	margin:auto;
  	width:50vw;
}

#actions .btn{
	width: 45%;
    height: 60px;
}



/* Skins */ 

.movement{
	-webkit-box-shadow: inset 0px 0px 50px 15px rgba(41,164,255,0.6);
	-moz-box-shadow: inset 0px 0px 50px 15px rgba(41,164,255,0.6);
	box-shadow: inset 0px 0px 50px 15px rgba(41,164,255,0.6);
}



.empty{
	background-image: url("img/ground.png");
}

.player{
	background-image: url("img/player.png")!important;
}


/*
.weapon{
	background-image: url("img/weapon.png");
}
*/

.weapon-dagger{
	background-image: url("img/weapon-dagger.png");
}

.weapon-sword{
	background-image: url("img/weapon-sword.png");
}

.weapon-axe{
	background-image: url("img/weapon-axe.png");
}

.weapon-spear{
	background-image: url("img/weapon-spear.png");
}


.rock0{
	background-image: url("img/rock0.png");
}

.rock1{
	background-image: url("img/rock1.png");
}

.rock2{
	background-image: url("img/rock2.png");
}